.create-btn-area{
    display: flex;
    justify-content: end;
    
    .create-btn{
        box-shadow: none;
        transition: all 0.6s;
        &:focus{
            transition: all 0.6s;
            box-shadow: none;
        }
    }
}
.create-modal{
    .education{
        width: 100% !important;
    }
}