.group-table{
    text-align: center;
    .group-btn{
        box-shadow: none !important;
        margin-right: 10px;
        transition: all 0.6s;
        &:focus{
            transition: all 0.6s;
            box-shadow: none !important;
        }
    }
    .group-add{
        margin-right: 10px;
        transition: all 0.6s;
        position: relative;
    }
}
