.nav-social {
    .nav-title {
        font-size: 14px;
        color: #8f8383;
        padding-left: 10%;
    }

    .nav-link {
        text-decoration: none;
        font-size: 17px;
        
        span{
            color: #c1b1b1;
        }
        i{
            color: #3d3939;
            margin-right: 15px;
           
        }
        &:hover{
            i{
                color: #ff7c7c;
            }
            span{
                color: #ff7c7c;
            }
        }
        &:focus{
            background-color: #f6cccc;
            i{
                color: rgb(255, 0, 76);
            }
            span{
                color: rgb(255, 0, 76);
            }
        }
        
        
    }
}
